
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto';
}

:root{
    --main-color: #0E46A3;
    --secondary-color: #559c64;
    --third-color: #1679AB;
    --third-color-t: #a5c08f;
    --font-weight-bold: 700;
}
body{
    font-family: 'Noto', sans-serif;
    background-color: var(--secondary-color);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@media screen and( max-width: 768px ){
    ul{
        display: flex;
        flex-direction: row;
    }
}
header,footer,main{
    font-family: 'Noto';
    text-shadow: 2px 1px rgb(36, 36, 36);
}
footer{
    height:10vh;
    width: 100%;
    margin-top: auto;
}
.container{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.galeria{
    color: white;
    overflow: hidden;
    position: relative;
        div{                      
            img{
                width: 400px;
                height: 280px;
                border-radius: 7px;
                box-shadow: 10px 20px 20px rgba(0,0,0,0.8);
                transition: all .3s;
            }
            &:hover img{
                transform:  scale(1.1);                
                filter: initial;
            }
        }
        
}
.imagen{
    position: relative;
    transition: .3s;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.8);
}
.imagen .textoImagen,
.imagen:after{
    position: absolute;
    left: 20px;
    right: 20px;
}

.imagen:after{
    content: '';
    display: block;
    background: rgb(81, 93, 104);
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1,1,0,100deg);
    transition: .3s;
}
.imagen:hover::after{
    opacity: .9;
    transform: rotate3d(0,0,0,0deg);
}
.imagen img{
    width: 100%;
    height: auto;
    border-radius: 7px;
}
.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    height:30vh;
    color: var(--main-color);
    background-image:url("../assets/img/background.webp");
    width: 100%;
    background-size: cover;
    background-position: center;
    
}
.textoImagen{
    top: 45%;
    opacity: 0;
    z-index: 1;
    transform: translate(10%,-30);
    transition: .3s;
    text-align: center;
    color: azure;
}
.textoImagen h2{
    font-family: 'Noto';    
}
.imagen:hover .textoImagen{
    opacity: 1;
    transform: translate(0,-50%);
    transition-delay: .3s;  
}

.bgPrim {
    background-color:var(--main-color);
}
.bgSec {
    background-color:var(--secondary-color);
}
.buttonReg {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: val(--primary);
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.buttonReg:active {    
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .buttonReg {
    padding: 0.25em 0.75em;
    }
}
.search{
    margin-bottom: auto;
    margin-top: auto;
    height: 70px;
    background-color: #0E46A3;
    border-radius: 40px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }
    .search .search_input{
        padding: 0 10px;
        width: 550px;
        caret-color:#1679AB;
        transition: width 0.4s linear;
        }
        
        .search:hover > .search_icon{
        background: #1679AB;
        color: #0E46A3;
        ;
        }
    
        .search_icon{
        height: 50px;
        width: 50px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:white;
        background-color:black;
        }
input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    input[type="submit"],
    input[type="reset"] {
        background-color:val(--main-color);
        color: white;
        border: 2px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    .myButton {
        box-shadow: 3px 3px 6px 0px #f0f7fa;
        background:linear-gradient(to bottom, #559c64 5%, #019ad2 100%);
        background-color:#559c64;
        border-radius:11px;
        border:3px solid #057fd0;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:'Noto';
        font-size:12px;
        font-weight:bold;
        padding:11px 24px;
        text-decoration:none;
        text-shadow:0px -1px 0px #5b6178;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #019ad2 5%, #559c64 100%);
        background-color:#019ad2;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }